/* 
---01 TYPOGRAPHT SYSTEM---

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHT
Defult:400 500 600 700

-LINE HEIGHT
Defult:1  1.05 1.6

-color:
PRIMARY COLOR:   95C5E0 D9D9D9
Tints: 
Shades:0D5DA8
Accents: #FFDB5A
Greys: #777 #555

---05 SHADOWS---

---06 BORDER-RADIUS---
Defult:9px

---07 WHITE SPACE---
-PACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
*{
    margin:0;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
@keyframes  contact-move{
    0% {filter:drop-shadow(0 0 0.3rem hwb(209 5% 34% / 0.5)  )}
    20% {filter:drop-shadow(0 0 2rem  hwb(209 5% 34% / 0.5) )}
    50% {filter:drop-shadow(0 0 3rem 4rem hwb(209 5% 34% / 0.5) )}
    100% {filter:drop-shadow(0 0 5rem 7rem  hwb(209 5% 34% / 0.5))}
}
@keyframes  notebook-move{
    0% {filter:drop-shadow(0 0 0.3rem hwb(209 5% 34% / 0.5)  )}
    20% {filter:drop-shadow(0 0 2rem  hwb(209 5% 34% / 0.5) )}
    50% {filter:drop-shadow(0 0 3rem 4rem hwb(209 5% 34% / 0.5) )}
    100% {filter:drop-shadow(0 0 5rem 7rem  hwb(209 5% 34% / 0.5))}
}
@keyframes  file-move{
    0% {filter:drop-shadow(0 0 0.3rem hwb(209 5% 34% / 0.5)  )}
    20% {filter:drop-shadow(0 0 2rem  hwb(209 5% 34% / 0.5) )}
    50% {filter:drop-shadow(0 0 3rem 4rem hwb(209 5% 34% / 0.5) )}
    100% {filter:drop-shadow(0 0 5rem 7rem  hwb(209 5% 34% / 0.5))}
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height:1;
    font-weight:400;
    color:#555;
    font-size: 16px;
    overflow-x: hidden;
}
/* //////////header-section///////// 
///////////////////////////////////*/
header{
    background-color:#D9D9D9 ;
    /* height: 65rem; */
    padding:1.6rem 0 4.8rem 0;
}
.nav-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    /* background-color:#D9D9D9; */
    height: 4.8rem;
    
}

.nav-decoration{
    margin-top: 0.4rem;
}

.decoration{
    margin-bottom: 1.6rem;
    border-bottom: #0D5DA8 solid 2px;
}

.nav-text{
    font-size:3rem;
    text-align: center;
    color:#0D5DA8;
    font-weight: 600;
    padding-top:0.8rem ;
}
.banner-container{ 
    color:#FFF;     
    display: grid;
    grid-template-columns: 1fr 1fr;  
}

.contact-icon{
    animation-name: contact-move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.44,-0.05, 1,-1.01)

    
}
.notebook-icon{
    animation-name: notebook-move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.44,-0.05, 1,-1.01)
}

.file-icon{
    animation-name: file-move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.44,-0.05, 1,-1.01)
}

.contact-icon{
    position: relative;
    top:15rem;
    left:15rem;
    width:12%;
    transition: all 0.5s;
}
.notebook-icon{
    position: relative;
    top:30rem;
    left:25rem;
    width:12%;
    transition: all 0.5s;
}
.file-icon{
    position: relative;
    left:35rem;
    top:5rem;
    width:12%;
    transition: all 0.5s;
}
.contact-icon:hover,
.notebook-icon:hover,
.file-icon:hover{
    transform:scale(1.2);
}
.contact-icon:active,
.notebook-icon:active,
.file-icon:active{
    transform:scale(0.9);

}

.my-photo{
    position: relative;
}
.banner-h1{
    font-size: 8.6rem;
    letter-spacing: 0.8rem;
    font-weight: 900;
    text-align: center;
    color:#fff;
    z-index:1;
    position:absolute;
    top:0.1rem;
}
.banner-photo{
    width:70%;
    border-radius: 45%;
    margin-top: 3.2rem;
    z-index:2; 
    opacity: 70%; 
}
.banner-h2{
    font-size: 6.4rem;
    letter-spacing: 0.8rem;
    font-weight: 900;
    text-align: center;
    color:#3d3d3d;
    z-index:2;
    position: absolute;
    top:40rem;
    right:10rem;
}
.banner-text{
    font-size: 2rem;
    color:#555;
    line-height: 1.5;
    letter-spacing: 0.5rem;
    color:#555;
    justify-self: end;

    /* position: relative;
    left:-10rem; */
}

.banner-text p span{
    font-size: 3rem;
    font-weight:500;
    line-height: 1.6;
    letter-spacing: 0.2rem;
    color:#0D5DA8;
}
/* //////////header-section///////// 
///////////////////////////////////*/
.about-section{
    padding:4.8rem 12.8rem  ;
}

.about-title,
.skill-title{
 font-size:3.6rem;
 margin-bottom:1.2rem;
 color: #0D5DA8;
}
.skill-title{
    text-align: center;
}
.about-text-box{
    /* border-top:#FFDB5A solid 5px; */
    width:80%;
    /* background-color: #D9D9D9; */
    padding:1.6rem 0 3.2rem 0  ;
    border-top:#FFDB5A solid 5px;
}
.about-text{
    font-size: 1.8rem;
    line-height: 1.6;
    letter-spacing: 0.2rem;
}
.skill-container{
    padding:2.4rem 0;
}
.skill-card-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:4.8rem;
    justify-content:center;
    margin-top: 4.8rem;
    padding:4.8rem 1.2rem 2.4rem 1.2rem ;
    background-color: #ffdb5a27;
    box-shadow: 0 2px 10px 1px rgba(61, 61, 61, 0.5);

    position: relative;
}

.skill-card-box::after{
    content: "";
    background-color: rgba(255, 255, 255, 0.8);
    width: 3rem;
    height:6rem;

    position: absolute;
    top: -3rem;
    /* transform: rotateX('15deg'); */
}
.skill-box{
    background-color: #D9D9D9;
    padding:1.6rem 4.8rem 3.6rem 4.8rem;
    border-radius: 12px;
    transition: all linear 0.3s;
}
.skill-box:hover{
    transform: scale(1.2);
    box-shadow: 0 2px 10px 1px rgba(61, 61, 61, 0.5);
    color:#fff
}

.skill-heading{
    font-size:3rem;
    margin-bottom: 2.4rem;
    color: #0D5DA8;
}
.skill-lists{
    font-size:2rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.skill-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap:1rem;
}
.list-icon{
   font-size:2.4rem;
   color:#0D5DA8;
}

/* //////////Portfolio-section///////// 
///////////////////////////////////*/
.portfolio-section{
    padding:4.8rem 10rem;
    
}

.portfolio-title{
    font-size:3.6rem;
    color: #0D5DA8;
}
.portfolio-title-container{
    width:80%;
    padding:0.8rem 0 1.6rem 0  ;
    border-bottom:#FFDB5A solid 5px;
}
.carousel{
    width:70%;
}

.portfolio-container{
    margin-bottom: 10rem;
    width:80%;
    border-bottom: #0D5DA8 solid 1px;
    padding-bottom: 3rem;
    
}

.portfolio-heading{
    font-size: 2rem;
    color:#555;
    font-weight: 600;
    margin-top: 1.8rem;
    margin-bottom: 0;
}
.portfolio-text{
    font-size: 1.6rem;
    margin-top:0;
}

.design-link:link,
.design-link:visited{
    font-size: 2.4rem;
    color: #0D5DA8;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: #0D5DA8 solid 1px;
    text-decoration: none;
    padding:1.2rem 2rem;
}
.design-link:hover,
.design-link:active{
    background-color: #0D5DA8;
    color: #fff;
    padding:1.2rem 2rem;
    box-shadow: 0 0 1rem rgba(85, 85, 85, 0.669);
}

.graphic-design{
    padding:3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem;
    background-color: #d9d9d9;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.graphic-photo{
    overflow: hidden;
    justify-self: center;
    align-self: center;
}
.graphic-photo img{
    width: 90%;
    transition: all 0.5s;
}

.graphic-photo img:hover{
    transform: scale(1.1);
}




/* //////////Contact-section///////// 
///////////////////////////////////*/
.footer{
    display: flex;
    justify-content:center ;
    align-items: center;
    position: relative;
    margin: auto 0;
}
.contact-section{ 
    display: flex;
    justify-content: center;

    position: relative;
}
.contact-container{
    /* width:80%;
    height:20rem; */
    padding:2rem 30rem 2rem 30rem;
    background-color: #FFDB5A;
    border-radius: 12px 12px 0 0;
}
.contact-heading{
    color:#FFF;
    font-size: 3.6rem;
    text-align: center;
}
.contact-container p{
    text-align: center;
}
.contact-link:link,
.contact-link:visited{
    display: inline-block;
    color:#777;
    margin-top:1.4rem;
    text-decoration:none;
    font-size:1.8rem; 
}
.contact-link:hover,
.contact-link:active{
    color:#0D5DA8
}
.arrow{
    position: absolute;
    top:-10rem;
    right:25rem;
    filter:drop-shadow( 0 0 0.3 (rgba 85, 85, 85, 0.5));
    width:15rem;

    transition: all 3s;
    transition-duration: 0.1s;
}
.arrow:hover{
    transform: translateY(-3px);
    transform: scale(1.1);
    filter:drop-shadow(0 0 1rem  rgba(74, 74, 74, 0.5));

}
.arrow:active{
    transform: translateY(-1px);
    filter:drop-shadow(0 0 0.5rem  rgba(74, 74, 74, 0.5));

}


/* .contact-section::after{
    content:url(/image/向上箭頭.png);
    
    position:absolute;
    right:15rem;
    top:-5rem;
}
 */
