/* 1600px */
@media(max-width:106em){
    .skill-card-box{
        padding:4.8rem 2.4rem 2.4rem 2.4rem ;
    }
    .skill-heading{
        font-size:2.4rem;
    }
    .skill-list{
        font-size:1.6rem
    }
    .skill-box{
        padding:1.6rem 2.4rem 3.6rem 2.4rem;
    }
}
/* 1440px */
@media (max-width:90em){
    .banner-h1{
        font-size: 7.4rem;
    }
    .banner-h2{
        top:30rem;
    }
    .notebook-icon{
        top:20rem;
    }

    .banner-text{
        position: relative;
        left:10rem;
    }
    .file-icon{
        left:25rem;
    }
    .skill-card-box{
        padding:4.8rem 1.2rem 2.4rem 1.2rem ;
    }
    .skill-heading{
        font-size:2rem;
    }
    .skill-box{
        padding:1.6rem 2.4rem 3.6rem 2.4rem;
    }
    .skill-list{
        font-size:1.4rem
    }
}

/* 1243px */
@media(max-width:83em){
    html{
        font-size:56.25%;
    }
    .skill-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .skill-card-box{
        grid-template-columns: 1fr 1fr ;
        width:80%;
        justify-self: center;
    }
    .skill-box{
        width:80%;
        justify-self: center;
    }
    .carousel{
        width:90%;
    }
    .arrow{
        top:-15rem;
    }

    .design-link-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }   
    .portfolio-container{
        width: 100%;
    }
    
}
/* 900px */
@media(max-width:56em){
    .nav-text{
        font-size:2.6rem;
    }
    .banner-h2{
        font-size:5rem ;
    }

    .notebook-icon,
    .file-icon,
    .contact-icon{
       transform: scale(1.5);
    }
    .carousel{
        width:100%;
    }
    .design-link-box img{
        width: 90%;
    }
    .design-link:link,
    .design-link:visited{
        width:12rem;
        font-size: 1.6rem;
    }

    .arrow{
        width: 12rem;
        right:15rem;
    }
    .portfolio-container{
        width: 100%;
    }
    .about-section{
        padding:4.8rem 4rem  ;
    }
    .portfolio-section{
        padding:4.8rem 4rem;
        
    }
}
/* 750px */
@media(max-width:47em){
    html{
        font-size:50%;
    }
    .nav-text{
        font-size:2.2rem;
    }
    .banner-h1{
        font-size:5rem; 
        top:0.5rem;
        left:7rem;
    }
    .banner-h2{
        top:20rem;
        right:10rem;
        font-size:4.8rem
    }
    .contact-icon{
        top:15rem;
        left:10rem;
    }
    .notebook-icon{
        top:15rem;
        left:17rem; 
    }
    .file-icon{
        left:20rem;
    }

    .skill-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .skill-card-box{
        grid-template-columns: 1fr 1fr ;
        width:100%;
        justify-self: center;
    }
    .skill-box{
        width:80%;
        justify-self: center;
    }
    .list-icon{
        font-size:2.2rem;
    }
    
    .graphic-design{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .graphic-photo img{
       margin:auto 0;
    }
}
/* 700px */
@media(max-width:43em){
    .nav-text{
        font-size:2rem;
    }
    .list-icon{
        font-size:2.2rem;
    }
    .skill-card-box{
        grid-template-columns: 1fr;
        width:80%;
        justify-self: center;
    }
    .portfolio-container{
        width: 100%;
    }
    
    
}
/* 650px */
@media(max-width:40em){
    html{
        overflow-x: hidden;
    }
    .banner-h1{
        font-size:4.8rem; 
        top:0.5rem;
        left:7rem;
    }
    .banner-h2{
        top:40rem;
        right:20rem;
        font-size:4.5rem
    }
    .portfolio-container{
        width: 100%;
    }
    .arrow{
        width:10rem;
        right:10rem;
    }
    .contact-container{
        padding:2rem 20rem 2rem 20rem;
    }
    .banner-container{
        grid-template-columns: 1fr;  
    }
    .my-photo{
        top:-10rem;
        left:10rem;
    }
    .contact-icon{
        top:45rem;
        left:1.2rem;
        transform: scale(0.9);  
    }
    .notebook-icon{
        top:45rem;
        left:1.4rem;
        transform: scale(0.9);  
    }
    .file-icon{
        top:55rem;
        left:0.2rem;
        transform: scale(0.9);  
    }
    .banner-text{
        font-size: 1.6rem;
        justify-self:center;
    }
    .contact-container{
        padding:2rem 15rem 2rem 15rem;

    }
    
}

/* 550px */
@media(max-width:34em){
    .about-title,
    .skill-title,
    .portfolio-title{
        font-size: 2.4rem;
    }
    .file-icon{
        top:50rem;
        left:0.2rem;
        transform: scale(0.9);  
    }
    .banner-h1{
        font-size:4.8rem; 
        top:0.7rem;
        left:7rem;
    }
    .banner-h2{
        top:30rem;
        right:20rem;
        font-size:4.5rem
    } 
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .contact-container{
        padding:2rem 10rem 2rem 10rem;

    }
}

/* 450px */
@media(max-width:28em){
    html{
        font-size:48%;
    }
    .nav-text{
        font-size:1.6rem;
    }
    .banner-h1{
        font-size:3.6rem; 
        top:5rem;
        left:7rem;
    }
    .banner-h2{
        top:25rem;
        right:20rem;
        font-size:3.2rem
    }
    .file-icon{
        top:30rem;
        left:0.2rem;
        transform: scale(0.9);  
    }
    .contact-icon{
        top:30rem;
        left:1.2rem;
        transform: scale(0.9);  
    } 
    .notebook-icon{
        top:40rem;
        left:1.4rem;
        transform: scale(0.9);  
    }
    .arrow{
        width:10rem;
        right:1rem;
    } 
    .banner-text p span{
        font-size: 2rem;
    }
}
/* 350px */
@media(max-width:21em){
    .nav-text{
        font-size:0.3rem;
    }
    .banner-h2{
        top:20rem;
        right:20rem;
        font-size:3rem
    }
    .banner-text p span{
        font-size: 1.4rem;
    }
    .banner-text{
        font-size:1.1rem;
    }
    header{
        padding:2rem;
    }
    /* .banner-text p span{
        font-size: 1.3rem;
    } */
    .about-section{
        padding:4rem 1.5rem  ;
    }
    .file-icon{
        top:30rem;
        left:-10rem;
        transform: scale(0.8);  
    }
}
/* -FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
-PACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */